<!--The content below is only a placeholder and can be replaced.-->


<mat-sidenav-container>
	<mat-sidenav #sidenav>
		<side-menu (cerrarMenu)="sidenav.close()"></side-menu>
	</mat-sidenav>

	<mat-toolbar color="dark" class="header">
		<span class="icon-button" (click)="sidenav.open()"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></span>
		<span>{{title}}</span>
		<span></span>
	</mat-toolbar>

	<div class="body">
		<router-outlet></router-outlet>
	</div>

	<mat-toolbar color="dark" class="footer">
		<span class="dummy-space"></span>

		<div class="icon-link" [routerLink]="['/home']" routerLinkActive="icon-link-active">
			<i class="fa fa-music" aria-hidden="true"></i>
			<span>Elige</span>
		</div>
		<div class="icon-link" [routerLink]="['/sing']" routerLinkActive="icon-link-active">
			<i class="fa fa-microphone" aria-hidden="true"></i>
			<span>Canta</span>
		</div>
		<div class="icon-link" [routerLink]="['/feel']" routerLinkActive="icon-link-active">
			<i class="fa fa-headphones" aria-hidden="true"></i>
			<span>Siente</span>
		</div>

		<span class="dummy-space"></span>
	</mat-toolbar>
</mat-sidenav-container>