:host {
	
	display:flex;
	justify-content: center;
	align-items:center;

	@media(max-width: 700px)
	{
		flex-wrap: wrap;
	}

	mat-card {
		width: 400px;
		height: 400px;
		display:flex;
		justify-content: center;
		align-items:center;
		margin: 5px;
	}
}