<mat-card>
	<div style="display: block;">
		<canvas baseChart width="350" height="350"
	            [datasets]="lineChartData"
	            [labels]="lineChartLabels"
	            [options]="lineChartOptions"
	            [colors]="lineChartColors"
	            [legend]="lineChartLegend"
	            [chartType]="lineChartType"
	            (chartHover)="chartHovered($event)"
	            (chartClick)="chartClicked($event)">
	    </canvas>
	</div>
</mat-card>

<mat-card>
    <div style="display: block;">
  		<canvas baseChart width="350" height="350"
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
        </canvas>
  	</div>
</mat-card>

